    .input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.division{
  text-align: center;
  font-size: 2px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration-color: azure;
}
*{
  font-size: medium;
  font-display: initial;
}